.buton {
  width: 20vw;
  height: auto;
 background-color: green;
 color: black;
 font-size: auto;
}
.butonResta {
  width: auto;
  height: auto;
 background-color: orange;
 color: black;
 font-size: auto;
}
.butonReset {
  width: auto;
  height: auto;
 background-color: red;
 color: black;
 font-size: auto;
}
.divPrinc {
  display: flex;
  flex-direction: column;
  margin-left: 40vw;
  margin-top: 10%;
}
.divSec {
  display: flex;
  flex-direction: row;

}