.divPrincipal {
    background-color: white;
    border: 1px solid red;
    border-radius: 7px;
    width: max-content;
    height: max-content;
    padding: 40px;
}
body {
    display:flex ;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.divPrincipal h1{
    cursor: pointer;
}